[submodule "backend"]
path = backend
url = https://github.com/TobyMosque/ws-quasar-nest-backend.git

[submodule "frontend"]
path = frontend
url = https://github.com/TobyMosque/ws-quasar-nest-frontend.git
